# Data Crawl and Clean
---
Yufan Zhang (yz605@duke.edu)

Junyi Tao (jt328@duke.edu)

Ran Peng (rp231@duke.edu)

In [34]:
import requests
import json
import os
import pandas as pd
import numpy as np
import re
import pickle

## 1. Use DKU Faculty Members' emails to batch search for DUIDs

Duke  IdM Tools-[LDAP Batch Search by Identifer](https://idm.oit.duke.edu/tools/ldap)

In [2]:
dku_emails = pd.read_csv('../data/dku_emails.csv')

s_temp = ''
for i in range(len(dku_emails)):
    s_temp += dku_emails.iloc[i]['Email']+'\n'
    
with open('../data/dku_duid_list.txt','w') as f:
    f.write(s_temp)

In [3]:
LDAP_data = pd.read_csv('../data/2022-4-11-ldap.csv')
LDAP_data.head()

,dn,Duke UniqueID (duDukeID),NetID (uid),First Name (givenName),Last Name (sn),Common Name (cn),Display Name (dn),Nickname (eduPersonNickname),Title (title),Affiliation(s) (eduPersonAffiliation),Primary Affiliation (eduPersonPrimaryAffiliation),Email Address (mail),Telephone Number (telephoneNumber),Company Code Description (duSAPCompanyDesc),Organizational Unit (ou),SAP Org Unit (duSAPOrgUnit),Email Reciept and Telephone Number Privacy Flag (duUserPrivacyRequest),Postal Address (PostalAddress),Post Office Box (PostOfficeBox),Generational Name Qualifier (generationQualifier)
0,duLDAPKey=dc808dee-1dd1-11b2-b6a9-9442cd793b76...,480813,djs26,Daniel,Stephens,Daniel Stephens Daniel J Stephens,"Daniel Stephens, Ph.D.",Daniel,Assistant Professor of Philosophy at Duke Kuns...,alumni affiliate faculty,faculty,daniel.stephens@duke.edu,+1 919 668 0377,Duke University,Dku Appointments,51032158,NaN,NaN,NaN,NaN
1,duLDAPKey=3a750dd4-1dd2-11b2-8a54-9442cd793b76...,501216,jc254,Jung,Choi,Jung Choi Jung E Choi,"Prof Jung Choi, Ph.D.",Jung,Assistant Professor of Arts History and Visual...,alumni affiliate,affiliate,jung.choi@dukekunshan.edu.cn,+1 919 684 2224,Duke University,NaN,51032158,NaN,NaN,NaN,NaN
2,duLDAPKey=0f2ac190-1dd2-11b2-b7bc-e02c52381c12...,663997,ba83,Benjamin,Anderson,Benjamin Anderson,Benjamin Anderson,Benjamin,Assistant Professor of Global Health at Duke K...,affiliate,affiliate,benjamin.anderson2@dukekunshan.edu.cn,NaN,Duke University,NaN,51032158,NaN,NaN,NaN,NaN
3,duLDAPKey=7ff6272e-1dd2-11b2-b7c3-e02c52381c12...,664012,dbs25,Donald,Snow,Donald Snow Don Snow,Don Snow,Don,Director of Language and Writing Program at Du...,affiliate,affiliate,don.snow@dukekunshan.edu.cn,NaN,Duke University,NaN,51032158,NaN,NaN,NaN,NaN
4,duLDAPKey=e456d7dc-f85d-11e5-a18d-c3e21a144c1c...,715779,kmc104,Kaley,Clements,Kaley Clements,Kaley Clements,Kaley,Assistant Professor of Media and Arts at Duke ...,alumni affiliate faculty,faculty,kaley.clements@duke.edu,+1 919 684 1958,Duke University,Dku Appointments,51032158,NaN,NaN,NaN,NaN

In [4]:
duids_dku = LDAP_data[['Duke UniqueID (duDukeID)', 'Common Name (cn)']]
duids_dku.columns = ['id', 'name']
duids_dku = duids_dku[['name', 'id']]
duids_dku.to_csv('../data/duids_dku.csv')
duids_dku.head()

                                name      id
0  Daniel Stephens Daniel J Stephens  480813
1              Jung Choi Jung E Choi  501216
2                  Benjamin Anderson  663997
3               Donald Snow Don Snow  664012
4                     Kaley Clements  715779

## 2. Use the DUIDs to crawl JSON via Scholars widgets API

[Scholars@Duke Swagger widgets API](https://scholars.duke.edu/widgets/docs/#!/widgets/get_api_v0_9_people_complete_count_format)

### Load DUIDs

In [5]:
duids_all = pd.read_csv('../data/duids_all.csv')
duids_all = duids_all[pd.notnull(duids_all['id'])].id.apply(lambda x: str(int(x)).zfill(7))
all = tuple(duids_all)
print(len(all))

# duids_dku = pd.read_csv('../data/duids_dku.csv')
duids_dku = duids_dku[pd.notnull(duids_dku['id'])].id.apply(lambda x: str(int(x)).zfill(7))
dku = tuple(duids_dku)
print(len(dku))

duids = list(set(all + dku))
print(len(duids))

6927
104
6910

In [6]:
duids

['0592191',
 '0031274',
 '0496961',
 '0074043',
 '0631709',
 '0593942',
 '1039889',
 '0519917',
 '0280189',
 '0175258',
 '0096830',
 '0907974',
 '0393319',
 '0098664',
 '0028214',
 '0636946',
 '0230411',
 '0284638',
 '0109375',
 '0583478',
 '0113731',
 '0731317',
 '0377213',
 '0382769',
 '0685081',
 '0038207',
 '0565437',
 '0098755',
 '0810207',
 '0685672',
 '0311671',
 '0302045',
 '0061790',
 '0275535',
 '0263061',
 '0121483',
 '1040914',
 '0114012',
 '0030443',
 '0219488',
 '0281146',
 '1114684',
 '0686657',
 '0309896',
 '0116251',
 '0538635',
 '0630772',
 '0304061',
 '0668184',
 '0545187',
 '0490614',
 '0497156',
 '0376336',
 '0600522',
 '0603030',
 '0502936',
 '0802246',
 '0452688',
 '0097644',
 '0168671',
 '0907118',
 '1114657',
 '0120199',
 '0492120',
 '0312267',
 '0276392',
 '0378319',
 '0982052',
 '0564560',
 '0915857',
 '0310370',
 '0980812',
 '1162109',
 '0800652',
 '0455903',
 '0196593',
 '1227549',
 '0229181',
 '0541996',
 '0101137',
 '0810821',
 '0116986',
 '1057410',
 '1021967',
 '0009260',
 '0106383',
 '0332698',
 '0113596',
 '0145573',
 '0498167',
 '0906426',
 '0054687',
 '0295406',
 '0307957',
 '0515473',
 '0656278',
 '0277045',
 '1061760',
 '0117542',
 '0386123',
 '0887248',
 '0446143',
 '0787221',
 '0116321',
 '0095882',
 '0514752',
 '0562768',
 '0135773',
 '0097737',
 '0101146',
 '0417132',
 '0662467',
 '0059110',
 '0910802',
 '0574077',
 '0100594',
 '0993206',
 '0346351',
 '0634651',
 '0548160',
 '0577392',
 '0491253',
 '1054585',
 '0221735',
 '0243915',
 '0576228',
 '0898574',
 '0303556',
 '0973059',
 '0713500',
 '0517979',
 '0211379',
 '0272049',
 '0974803',
 '0962067',
 '0520623',
 '0196405',
 '0095916',
 '0512972',
 '0116910',
 '0806425',
 '0293653',
 '0059482',
 '0846672',
 '0729819',
 '0361037',
 '0804542',
 '0111307',
 '0113941',
 '0192980',
 '0457504',
 '0728473',
 '0096328',
 '0066008',
 '0116187',
 '0788059',
 '0546822',
 '0113632',
 '0971367',
 '0600548',
 '0624433',
 '0275480',
 '0802314',
 '0849189',
 '0716939',
 '0285600',
 '0664502',
 '0326111',
 '0687955',
 '0119824',
 '1050282',
 '0515356',
 '0624853',
 '0511612',
 '0373890',
 '0183118',
 '0595001',
 '0099498',
 '0112331',
 '0110955',
 '0800052',
 '0583763',
 '0913213',
 '0372913',
 '0431914',
 '0096794',
 '0232840',
 '1125730',
 '0116047',
 '0482599',
 '0698481',
 '0684425',
 '0309017',
 '0541664',
 '0494252',
 '0096086',
 '0527066',
 '1056204',
 '0436142',
 '0115937',
 '0641090',
 '1216072',
 '0799147',
 '0114013',
 '0332332',
 '0274399',
 '0909751',
 '0435860',
 '1050344',
 '1036462',
 '0237561',
 '0902914',
 '0973722',
 '0087204',
 '0308740',
 '0726967',
 '1108515',
 '0801754',
 '0682416',
 '0072987',
 '0041744',
 '0317728',
 '0098374',
 '0229992',
 '0657458',
 '0011672',
 '0765241',
 '0111841',
 '0080198',
 '0599860',
 '0272551',
 '1124789',
 '0235050',
 '0501617',
 '0284280',
 '0398583',
 '0296496',
 '0655854',
 '0218288',
 '0016676',
 '0370564',
 '0113602',
 '0328007',
 '0506729',
 '0097377',
 '0538078',
 '0510523',
 '0483399',
 '0630448',
 '0800723',
 '0538324',
 '0098785',
 '1045145',
 '0906972',
 '0422621',
 '0510006',
 '0717137',
 '0403844',
 '0520370',
 '0520629',
 '0498383',
 '0252029',
 '1000314',
 '1160280',
 '0113224',
 '0195713',
 '0198963',
 '0333467',
 '0624182',
 '0728427',
 '0096925',
 '0461487',
 '0499843',
 '0009467',
 '0272047',
 '0033955',
 '0112103',
 '0426023',
 '0266421',
 '0099646',
 '0540472',
 '0099647',
 '1163753',
 '0916209',
 '0107591',
 '0310832',
 '0439387',
 '1122895',
 '0538948',
 '0838114',
 '0096052',
 '0312245',
 '0211349',
 '0580377',
 '0200795',
 '0056863',
 '0812994',
 '0097070',
 '0988666',
 '1113863',
 '0793416',
 '0117007',
 '0810304',
 '0089077',
 '0099740',
 '0687131',
 '0114935',
 '0280166',
 '0120138',
 '0815285',
 '0374087',
 '1126675',
 '0513333',
 '0195420',
 '0054777',
 '0598930',
 '0097449',
 '0636240',
 '0231646',
 '1039545',
 '0022131',
 '0052951',
 '0510834',
 '0098165',
 '0100979',
 '0097276',
 '0482754',
 '0984054',
 '0306126',
 '0098502',
 '0100251',
 '0279911',
 '1045914',
 '0538610',
 '0542740',
 '0684678',
 '0098029',
 '0377849',
 '1080475',
 '0799168',
 '0331941',
 '0270982',
 '1050327',
 '0101295',
 '0805301',
 '0275777',
 '0385124',
 '0119545',
 '0384928',
 '0112495',
 '0490434',
 '0692444',
 '0375481',
 '1115180',
 '0205093',
 '0715433',
 '0101108',
 '0123955',
 '0293657',
 '0797565',
 '0500299',
 '1108335',
 '0291513',
 '0799222',
 '0221366',
 '1038821',
 '0571857',
 '0097036',
 '0065585',
 '0272494',
 '0376709',
 '1052729',
 '0013222',
 '0001811',
 '0538570',
 '0916357',
 '0844667',
 '0114860',
 '0321673',
 '0383074',
 '0098874',
 '0877680',
 '0980924',
 '0034056',
 '0980526',
 '0073804',
 '0098350',
 '0004005',
 '0308622',
 '0136358',
 '0097007',
 '1164867',
 '0607090',
 '0112478',
 '0275861',
 '0046012',
 '0508350',
 '0556900',
 '0716289',
 '0217859',
 '0096241',
 '0570555',
 '0342804',
 '0336389',
 '0265754',
 '0487341',
 '0216460',
 '0911201',
 '0796649',
 '0431357',
 '0113151',
 '0437051',
 '1036362',
 '0652604',
 '0631901',
 '0308345',
 '0033358',
 '0104253',
 '0056106',
 '0641072',
 '0285306',
 '0907690',
 '0284721',
 '0937525',
 '0115996',
 '0102575',
 '0280950',
 '0656932',
 '0680995',
 '0684629',
 '0696938',
 '0331715',
 '0908214',
 '0112314',
 '0113933',
 '0098965',
 '0468490',
 '0692501',
 '0082846',
 '0079636',
 '0225386',
 '1060086',
 '0118290',
 '0964466',
 '0167797',
 '0990048',
 '0661453',
 '0113550',
 '0372436',
 '0217510',
 '0346929',
 '0117313',
 '0113152',
 '0135743',
 '0071433',
 '0622621',
 '0198342',
 '0445304',
 '0580974',
 '0697664',
 '0307945',
 '0112966',
 '0070096',
 '0115191',
 '0074516',
 '0273928',
 '0337612',
 '0281328',
 '1122172',
 '0667170',
 '0807180',
 '1058824',
 '0205289',
 '0072673',
 '0400926',
 '1167461',
 '0799220',
 '0510540',
 '0907509',
 '0239137',
 '0476700',
 '0095772',
 '1160810',
 '0601620',
 '0045720',
 '1164321',
 '0574098',
 '0062021',
 '0517246',
 '0729964',
 '0752820',
 '0079828',
 '0384332',
 '0754183',
 '0630506',
 '0917355',
 '0275292',
 '0534366',
 '0374363',
 '0724444',
 '0566383',
 '0905845',
 '0378311',
 '0481540',
 '0465878',
 '0095766',
 '0306415',
 '0115716',
 '0792904',
 '0928018',
 '0499387',
 '0204819',
 '0060368',
 '0698558',
 '0300951',
 '0812575',
 '0995798',
 '0101996',
 '0097522',
 '0726621',
 '0196990',
 '0373110',
 '0117292',
 '0054028',
 '0130814',
 '0970285',
 '0624332',
 '0117031',
 '0563708',
 '0081132',
 '0439139',
 '0298315',
 '0116894',
 '0723786',
 '0337655',
 '0304011',
 '0270086',
 '0287774',
 '0270680',
 '0398781',
 '0114089',
 '0117298',
 '0116896',
 '0225502',
 '0490472',
 '0378340',
 '1062925',
 '0383888',
 '0458002',
 '0116512',
 '0538368',
 '0097457',
 '0688458',
 '0315649',
 '0622882',
 '0538064',
 '0228908',
 '0079166',
 '0269251',
 '0721619',
 '0656924',
 '0572528',
 '0225102',
 '0115294',
 '0516149',
 '0232882',
 '0785491',
 '0456028',
 '0096176',
 '1119428',
 '0655947',
 '0481296',
 '0670502',
 '1129993',
 '0237173',
 '0693170',
 '0096034',
 '0832363',
 '0980579',
 '0097804',
 '1163004',
 '0311578',
 '0691900',
 '0136449',
 '0115292',
 '0378487',
 '0317316',
 '0330994',
 '0670124',
 '0376634',
 '0169637',
 '0115405',
 '0372271',
 '0555418',
 '0697566',
 '0824925',
 '0630338',
 '0799289',
 '0649253',
 '0601578',
 '0113253',
 '0414095',
 '0115668',
 '1057834',
 '0632399',
 '0521982',
 '0259517',
 '0653007',
 '0322438',
 '0374377',
 '0651141',
 '0297503',
 '0313741',
 '0673331',
 '0467219',
 '0197601',
 '0414076',
 '0519573',
 '0112618',
 '0755642',
 '0598618',
 '0480813',
 '0170606',
 '0096700',
 '0833383',
 '0406012',
 '0612015',
 '0465138',
 '0222430',
 '0609014',
 '0037257',
 '0904701',
 '0927211',
 '0110860',
 '0790780',
 '0911633',
 '0097727',
 '0068514',
 '0487349',
 '0397540',
 '0622550',
 '0113878',
 '0109560',
 '0799225',
 '0198528',
 '0100040',
 '0972799',
 '0632820',
 '0035945',
 '0603489',
 '0641374',
 '0026696',
 '0121705',
 '0202060',
 '0168990',
 '0800824',
 '0629663',
 '0333570',
 '0230550',
 '0316175',
 '0310682',
 '0116623',
 '0972795',
 '0695666',
 '0706051',
 '0240446',
 '0112633',
 '0318689',
 '1072978',
 '1047066',
 '0287863',
 '0808137',
 '1099118',
 '0110365',
 '0099328',
 '0687326',
 '0112164',
 '0115444',
 '0097608',
 '0721905',
 '0068510',
 '0973205',
 '0517258',
 '0602069',
 '0905719',
 '0035681',
 '0111845',
 '0336382',
 '0056257',
 '0664112',
 '1088139',
 '0040909',
 '0547282',
 '0510948',
 '0096462',
 '1038196',
 '0486774',
 '0390699',
 '0188763',
 '0430618',
 '0622580',
 '0699894',
 '0804664',
 '0332517',
 '1160635',
 '0805626',
 '0057007',
 '0199079',
 '0078101',
 '0300144',
 '0112717',
 '0105161',
 '0655987',
 '0117062',
 '0199657',
 '0222112',
 '0278297',
 '0717015',
 '0119209',
 '0373409',
 '0284400',
 '0080652',
 '0471581',
 '1067821',
 '0099412',
 '1167916',
 '0987424',
 '0334339',
 '0468019',
 '1187297',
 '0372237',
 '0682962',
 '0373368',
 '0980809',
 '0886457',
 '1116272',
 '0887219',
 '0655650',
 '0294963',
 '0274636',
 '0013063',
 '0304115',
 '0108338',
 '0911060',
 '0693704',
 '0086955',
 '0113083',
 '0095989',
 '0385981',
 '0263225',
 '0332635',
 '0275014',
 '0647230',
 '0099933',
 '0440299',
 '0113284',
 '0047768',
 '0800332',
 '0112878',
 '0991229',
 '0101348',
 '0701384',
 '1050879',
 '0115456',
 '0011559',
 '0908688',
 '0604930',
 '0202026',
 '0100126',
 '0117612',
 '0457959',
 '0973198',
 '1124207',
 '0097008',
 '0914676',
 '0208183',
 '0729447',
 '0313214',
 '0605099',
 '0704195',
 '0830401',
 '0403042',
 '0486776',
 '0108012',
 '1014696',
 '0236961',
 '0111840',
 '0083945',
 '0022193',
 '0293428',
 '0703476',
 '0109713',
 '0483046',
 '0697324',
 '0379859',
 '1114954',
 '0811335',
 '0103922',
 '0167990',
 '0401909',
 '0282520',
 '0004700',
 '0262569',
 '0117568',
 '0809850',
 '0285214',
 '0011122',
 '0078823',
 '0670941',
 '0625792',
 '0437259',
 '0512503',
 '0435779',
 '0317613',
 '1053945',
 '0311274',
 '0616764',
 '0960245',
 '0563143',
 '0271465',
 '0520808',
 '0088954',
 '0096773',
 '0899464',
 '0386521',
 '0652765',
 '0539235',
 '0752916',
 '1054375',
 '0550526',
 '0117315',
 '0436140',
 '0919994',
 '0333333',
 '0097905',
 '0573832',
 '0269326',
 '0800081',
 '0113455',
 '0336082',
 '1122228',
 '0068881',
 '0684418',
 '0097263',
 '1056409',
 '0424922',
 '0956019',
 '0480558',
 '0455705',
 '0266531',
 '0115724',
 '0327331',
 '1014704',
 '0187937',
 '0309138',
 '0099133',
 '0516823',
 '0103242',
 '0905891',
 '0684637',
 '0672084',
 '0691128',
 '0655903',
 '0113337',
 '0099406',
 '0062843',
 '0119648',
 '0098303',
 '0095977',
 '0192944',
 '1114847',
 '0538218',
 '0973144',
 '0441800',
 '0583214',
 '0377810',
 '0279169',
 '0679389',
 '0111388',
 '0290815',
 '0113775',
 '0977470',
 '0801866',
 '0910230',
 '0791002',
 '0484816',
 '0401643',
 '0544624',
 '0290433',
 '0538350',
 '0304020',
 '0978032',
 '0284890',
 '0576833',
 '0631021',
 '0110166',
 '1107897',
 '0312371',
 '0551019',
 '0281895',
 '0800051',
 '0213792',
 '0586912',
 '0691974',
 '0568669',
 '1059436',
 '0623207',
 '0348734',
 '0108245',
 '0117046',
 '0358855',
 '0116868',
 '0060998',
 '0113470',
 '0594563',
 '0485725',
 '0284391',
 '0211467',
 '0655996',
 '1191563',
 '0587158',
 '0121996',
 '0439621',
 '0561837',
 '0115646',
 '0271052',
 '0513983',
 '1048372',
 '0116240',
 '0297704',
 '0207350',
 '0103826',
 '1163253',
 '0987869',
 '0514730',
 '0501848',
 '1165202',
 '0200235',
 '0114653',
 '0308207',
 '0378025',
 '0296068',
 '0595944',
 '0800876',
 '0572813',
 '0423299',
 '0304621',
 '0716629',
 '0268409',
 '0729252',
 '0116816',
 '0483445',
 '0542290',
 '0114311',
 '0283325',
 '0525795',
 '0488352',
 '0012868',
 '0071767',
 '0465792',
 '0099688',
 '0722445',
 '1097747',
 '0114355',
 '0582763',
 '0116480',
 '0608290',
 '0608266',
 '1047993',
 '0656764',
 '1092863',
 '1173981',
 '0517486',
 '0335256',
 '0651952',
 '0573444',
 '0299354',
 '0055449',
 '0451879',
 '0117937',
 '0025143',
 '0065921',
 '0215503',
 '0201481',
 '0924204',
 '0304097',
 '0065968',
 '0719522',
 '0056685',
 '0595769',
 '0398348',
 '0986883',
 '0535456',
 '0218322',
 '0740398',
 '0225506',
 '0680900',
 '0114666',
 '0687181',
 '0886954',
 ...]

### Crawl JSON data

Data Mode
- Complete
- Publication

In [7]:
def crawl(duid, data_mode):
    url = 'https://scholars.duke.edu/widgets/api/v0.9/people/{}/5.json?uri={}'.format(data_mode, duid)
    headers = {"Accepct": "application/json"}
    response = requests.get(url=url, headers=headers)
    if response.status_code == 404:
        return ('No Response', duid)
    json_info = response.json()
    return json_info

def save_json(data_mode, duid, content):
    dir_str = '../data/scholars_duke_new/{}/{}.json'.format(data_mode, duid)
    with open(dir_str, 'w') as outfile:
        json.dump(content, outfile)

In [8]:
def get_all_json(duids, data_mode):
    '''
        duids: list of duids
        data_mode: 'complete', 'publications', 'courses', 'educations'
    '''
    counter = 0
    for i in range(len(duids)):
        duid = duids[i]
        # name = duid_df.loc[i, 'name']
        no_info_list = list()
        
        json_content = crawl(duid, data_mode)
            
        if type(json_content) == tuple:
            no_info_list.append(json_content[1])
        else:
            counter += 1
            save_json(data_mode, duid, json_content)
        
        if i % 500 == 0:
            print('============== {}/{} completed =============='.format(i, len(duids)))
    print('============== {} JSON files containing {} infomation in total crawled =============='.format(counter, data_mode))

In [45]:
get_all_json(duids, 'complete')

============== 0/6910 completed ==============
============== 500/6910 completed ==============
============== 1000/6910 completed ==============
============== 1500/6910 completed ==============
============== 2000/6910 completed ==============
============== 2500/6910 completed ==============
============== 3000/6910 completed ==============
============== 3500/6910 completed ==============
============== 4000/6910 completed ==============
============== 4500/6910 completed ==============
============== 5000/6910 completed ==============
============== 5500/6910 completed ==============
============== 6000/6910 completed ==============
============== 6500/6910 completed ==============
============== 6801 JSON files containing complete infomation in total crawled ==============

## 3. Clean the JSON files

In [9]:
def get_education(d):
    '''
        Input:
            d: a dict containing the education information, ori_d['educations'][i]
        Output:
            a dict containing the degree,institution, end_year
    '''
    out = dict()
    if 'degree' in d['attributes'].keys():
        out['degree'] = d['attributes']['degree']
    else:
        out['degree'] = None
    
    if 'institution' in d['attributes'].keys():
        out['institution'] = d['attributes']['institution']
    else:
        out['institution'] = None
        
    if 'endDate' in d['attributes'].keys():
        out['end_year'] = d['attributes']['endDate']
    else:
        out['end_year'] = None
    return out


def get_publication(d):
    '''
        Input:
            d: a dict containing the publication information, ori_d['publications'][i]
        Output:
            a dict containing the title, authors, year
    '''
    out = dict()
    out['title'] = d['label']
    if 'authorList' not in d['attributes'].keys():
        out['authors'] = None
    else:
        out['authors'] = d['attributes']['authorList']
        
    if 'year' not in d['attributes'].keys():
        out['year'] = None
    else:
        out['year'] = d['attributes']['year']
    return out


def get_courses(d):
    '''
        Input:
            d: a dict containing the courses information, ori_d['courses'][i]
        Output:
            a string containing the course_label
    '''
    out = d['label']
    return out

In [18]:
def get_info(json_file_name):
    '''
        Input:
            json_file_name: the name of the json file
        Output:
            a dict containing faculty information, counts for the educations, publications and courses
    '''
    f = open('../data/scholars_duke_new/complete/' + json_file_name, 'r')
    raw_d = dict(json.load(f))
    ind_d = dict()
    duid = json_file_name.split('.')[0]
    
    ind_d['duid'] = duid                                                    # duid
    ind_d['name'] = raw_d['label']                                          # name
    ind_d['uri'] = raw_d['uri']                                             # uri
    ind_d['title'] = raw_d['title']                                         # title
    
    from_dku = False
    if len(raw_d['positions']) > 0:
        ind_d['school'] = raw_d['positions'][0]['attributes']['schoolLabel']        # school
        for pos in raw_d['positions']:
            if pos['attributes']['schoolLabel'] == 'Duke Kunshan University':
                from_dku = True     
    else:
        ind_d['school'] = None
    
    educations = list()
    for edu_d in raw_d['educations']:
        educations.append(get_education(edu_d))
    ind_d['educations'] = educations                                       # educations
        
    publications = list()
    for pub_d in raw_d['publications']:
        publications.append(get_publication(pub_d))
    ind_d['publications'] = publications                                   # publications
    
    courses = list()
    for cou_d in raw_d['courses']:
        courses.append(get_courses(cou_d))
    ind_d['course'] = courses                                              # courses
    
    return ind_d, len(educations), len(publications), len(courses), from_dku

In [19]:
def clean_json():
    '''
    Output:
        a dictionary containing all the information
        {duid : {   duid : string, 
                    name : string,
                    uri : string, 
                    title : string,
                    school : string,
                    educations : [
                        {
                            degree: string,
                            institution : string,
                            end_year : string
                        }
                    ], 
                    publications : [
                        {
                            title : string,
                            authors : string,
                            year : string
                        }
                    ]
                    courses : [
                        string
                    ]
                }
            }
    '''
    out_d = dict()
    out_d_dku = dict()
    json_file_names = os.listdir('../data/scholars_duke_new/complete/')
    counter = 0
    edu_counter, pub_counter, cou_counter = 0, 0, 0
    edu_sum, pub_sum, cou_sum = 0, 0, 0
    
    for json_file_name in json_file_names:
        if re.match(r"[0-9]+(.json)", json_file_name):
            # print('=== Processing {} ==='.format(json_file_name))
            
            duid = json_file_name.split('.')[0]
            
            # Get individual information
            ind_d, n_edu, n_pub, n_cou, from_dku = get_info(json_file_name)
            
            ## save to out_d_dku if the person is a DKU faculty
            if from_dku:
                out_d_dku[duid] = ind_d
                
            out_d[duid] = ind_d
            
            # Log counter
            if n_edu > 0:
                edu_counter += 1
                edu_sum += n_edu
            if n_pub > 0:
                pub_counter += 1
                pub_sum += n_pub
            if n_cou > 0:
                cou_counter += 1
                cou_sum += n_cou
            counter += 1
            
            if counter % 500 == 0:
                print('============= {}/{} ============='.format(counter, len(json_file_names)))
    
    print('=== Summary ===')   
    print('count of scholars who have educations info: {}/{}'.format(edu_counter, len(json_file_names)))
    print('total education info pieces: {}\n'.format(edu_sum))
    print('count of scholars who have publications info: {}/{}'.format(pub_counter, len(json_file_names)))
    print('total publication info pieces: {}\n'.format(pub_sum))
    print('count of scholars who have courses info: {}/{}'.format(cou_counter, len(json_file_names)))
    print('total course info pieces: {}\n'.format(cou_sum))
    
    print('DKU/Duke: {}/{}'.format(len(out_d_dku), len(out_d)))
    
    with open("../cleaned_scholars.json", "w") as outfile:
        json.dump(out_d, outfile)
    print('=== All Info: Done! ===')
    
    with open("../cleaned_scholars_dku.json", "w") as outfile:
        json.dump(out_d_dku, outfile)
    print('=== DKU Info: Done! ===')
    
    return out_d, out_d_dku, [edu_counter, pub_counter, cou_counter], [edu_sum, pub_sum, cou_sum]

In [20]:
out_d, out_d_dku, counters, sums = clean_json()

============= 500/6801 =============
============= 1000/6801 =============
============= 1500/6801 =============
============= 2000/6801 =============
============= 2500/6801 =============
============= 3000/6801 =============
============= 3500/6801 =============
============= 4000/6801 =============
============= 4500/6801 =============
============= 5000/6801 =============
============= 5500/6801 =============
============= 6000/6801 =============
============= 6500/6801 =============
=== Summary ===
count of scholars who have educations info: 6665/6801
total education info pieces: 14403

count of scholars who have publications info: 4425/6801
total publication info pieces: 374192

count of scholars who have courses info: 2493/6801
total course info pieces: 15268

DKU/Duke: 184/6801
=== All Info: Done! ===
=== DKU Info: Done! ===

## 4. Filter the educations, publications, and courses info for DKU faculty

In [21]:
with open("../cleaned_scholars_dku.json") as f:
    cleaned_dku = json.load(f)

In [49]:
cleaned_dku['0729790']['educations']

[{'degree': 'MR',
  'institution': 'Fudan University (China)',
  'end_year': '2001-01-01T00:00:00'},
 {'degree': 'Ph.D.',
  'institution': 'Carnegie Mellon University',
  'end_year': '2005-01-01T00:00:00'}]

In [30]:
def extract_to_list(d):
    duid = d['duid']
    name = d['name']
    title = d['title']
    educations = d['educations']
    pub_titles = list()
    for pub in d['publications']:
        pub_titles.append(pub['title'])
    courses = d['course']
    return [duid, name, title, pub_titles, courses]

In [31]:
def extract_to_nested_list(school):
    if school == 'dku':
        with open("../cleaned_scholars_dku.json") as f:
            cleaned = json.load(f)
    elif school == 'duke':
        with open("../cleaned_scholars.json") as f:
            cleaned = json.load(f)
    else:
        print('Wrong school name!')
        return
    result_list = list()
    for ind_d_key in cleaned:
        result_list.append(extract_to_list(cleaned[ind_d_key]))
    print('=== {}: {} in total ==='.format(school, len(result_list)))
    return result_list

In [88]:
result_list_dku = extract_to_nested_list('dku')
# with (open('../data/nested_list_dku.pkl', 'wb')) as f:
#     pickle.dump(result_list, f)
result_df_dku = pd.DataFrame(result_list_dku, columns=['duid', 'name', 'title', 'pub_titles', 'courses'])
result_df_dku.to_csv('../data/nested_list_dku.csv', index=False)

=== dku: 184 in total ===

In [51]:
result_list = extract_to_nested_list('duke')
result_df = pd.DataFrame(result_list, columns=['duid', 'name', 'title', 'pub_titles', 'courses'])
result_df.to_csv('../data/nested_list_duke.txt', index=False)

=== duke: 6801 in total ===

In [65]:
result_df.title

0       Consulting Professor in the Department of Medi...
1       Consulting Associate in the Department of Fami...
2                                    Professor of Surgery
3            Adjunct Associate Professor of Global Health
4        Clinical Associate in the Department of Medicine
                              ...
6796    Adjunct Associate Professor in the Department ...
6797             Professor of Psychology and Neuroscience
6798        Consulting Associate in the School of Nursing
6799      William W. Elliott Assistant Research Professor
6800                      Assistant Professor of Medicine
Name: title, Length: 6801, dtype: object

In [153]:
def check_department(x):
    if re.match(r'.*(Professor) [(in)|(of)].*', x):
        return True
    elif re.match(r'.*(Lecturer) [(in)|(of)].*', x):
        return True
    else:
        return False

def extract_department(x):
    # Assistant Professor of Mathematics at Duke Kunshan University
    if re.match(r'.*(Professor of).*', x):
        return x.split('Professor of')[1].split(' at ')[0].strip()
    
    # Professor in the Department of Electrical and Computer Engineering
    elif re.match(r'.*(Professor in the Department).*', x):
        return x.split('Professor in the Department of ')[1].split(' at ')[0].strip()
        
    # Associate Professor in Environmental Sciences and Policy
    elif re.match(r'.*(Professor in).*', x):
        return x.split('Professor in')[1].split(' at ')[0].strip()
    
    # Assoc. Prof. of Cognitive Neuroscience at Duke Kunshan University
    elif re.match(r'.*(Prof. of).*', x):
        return x.split('Prof. of')[1].split(' at ')[0].strip()
    
    # Assistant Professorof Religious Studies at Duke Kunshan University
    elif re.match(r'.*(Professorof).*', x):
        return x.split('Professorof')[1].split(' at ')[0].strip()
    
    # Lecturer of Chinese Language at Duke Kunshan University
    elif re.match(r'.*(Lecturer of).*', x):
        return x.split('Lecturer of')[1].split(' at ')[0].strip()
        
    # Senior Lecturer in Physics at Duke Kunshan University
    elif re.match(r'.*(Lecturer in).*', x):
        return x.split('Lecturer in')[1].split(' at ')[0].strip()

    # Director of Athletic Department at Duke Kunshan University
    elif re.match(r'.*(Director of).*', x):
        return x.split('Director of')[1].split(' at ')[0].strip()
    
    # Visiting Instructor of English Language at Duke Kunshan University
    elif re.match(r'.*(Instructor of).*', x):
        return x.split('Instructor of')[1].split(' at ')[0].strip()
    
    # Professor
    elif x == 'Professor':
        return 'Professor'
    
    # University Librarian at Duke Kunshan University
    else:
        return x.split(' at ')[0].strip()


def get_department(result_df, save_dir):
    result_df['department'] = result_df.title.apply(extract_department)
    result_df.to_csv(save_dir)

In [154]:
result_df_dku = pd.DataFrame(result_list_dku, columns=['duid', 'name', 'title', 'pub_titles', 'courses'])
get_department(result_df_dku, '../data/info_dku_department.txt')

In [156]:
result_df = pd.DataFrame(result_list, columns=['duid', 'name', 'title', 'pub_titles', 'courses'])
get_department(result_df, '../data/info_duke_department.txt')

In [158]:
result_df.to_csv('test2.csv')

In [62]:
result_df['have_in_of'] = result_df.apply(lambda x: not('in' in x['title'] or 'of' in x['title']), axis=1)
print(result_df[result_df['have_in_of'] == True].shape)
result_df[result_df['have_in_of'] == True]

(25, 6)

,duid,name,title,pub_titles,courses,have_in_of
83,0501633,"Huang, Ryan",Temporary Instructor,[],"[IDS 798: Capstone Project, STA 798: Capston...",True
229,0808074,"Isabella, Zoe",Instructor B,[],[BIOLOGY 202L: Gateway to Biology: Genetics a...,True
275,0746148,"Zhang, Chen",Student,[],[],True
954,0745840,"Yu, Handi",Student,[],[],True
1313,0898135,"Goatley, David Emmanuel",Associate Dean for Vocational Formation and Ch...,[Were You There? Godforsakenness in Slave Reli...,[BCS 760: Theology in the Black Church Tradit...,True
1395,0550579,"Friedmann, Victor",Instructor,[],[],True
2175,0061257,"Skender, Charles",Instructor,[Using a bankruptcy model in the auditing cour...,[ACCOUNTG 596: Accounting for Mergers and Acq...,True
2274,0587377,"Perera, Nadeesha",Instructor B,[],"[BIOLOGY 490S: Special Topics Seminar, K_BIOL...",True
2518,0379166,"Fay, John Patrick",Instructor,[Using geographic information systems to chara...,[ENVIRON 593: Independent Studies and Project...,True
2630,0415082,"Ozdowski, Emily",Instructor,[],[BIOLOGY 329D: Principles of Animal Physiolog...,True
2926,0729819,"Cheikh Abdi Vall, Saadbou",Instructor B,[],"[ARABIC 101: Elementary Arabic, ARABIC 102: ...",True
2971,1088139,"Ye, Huiyuan",Research Fellow at Duke Kunshan University,[],[],True
3242,0297594,"Hornstein, Donald Thomas",Instructor,[],[ENVIRON 265: Environmental Law and Policy],True
3395,0207681,"Schick, Robert",Instructor,[A fine-scale marine mammal movement model for...,[ENVIRON 593: Independent Studies and Projects],True
3410,0525574,"Liu, Yang",Postdoctoral Associate,[],[],True
3740,0785360,"Liu, Lu",Student,[],[],True
3852,0078234,"Harrell, Peter",Instructor,[],[ENVIRON 559: Fundamentals of Geographic Info...,True
4146,0809964,"Zhang, Shu",Instructor,[],"[CHINESE 101: First-Year Chinese I, CHINESE ...",True
4221,0691299,"Xu, Hong",University Librarian at Duke Kunshan University,[],[],True
4518,0901889,"Rivera-Pratts, Carlos",Hospitalist Physician,[],[],True
4791,0114240,"Brown, Ann Julia",Vice Dean for Faculty,[From Stigma to Validation: A Qualitative Asse...,[],True
5341,0301846,"Goldwasser, Molly",Associate Vice Provost for Academic Affairs,[],"[EDUC 240: Educational Psychology, EDUC 243S...",True
5712,0095834,"Johns, Christa T.",Lecturer Emeritus,[],[],True
5972,1125322,"Harshaw, Dumas","Instructor, Special Programs",[],[PREACHNG 790: Topics in Preaching],True
6146,0451950,"Glass, Alexander",Senior Lecturer,[Denying sea-level rise: How 100 centimeters d...,"[BIOLOGY 157: The Dynamic Oceans, ECS 101: T...",True

,duid,name,title,pub_titles,courses,have_in_of
83,0501633,"Huang, Ryan",Temporary Instructor,[],"[IDS 798: Capstone Project, STA 798: Capston...",True
229,0808074,"Isabella, Zoe",Instructor B,[],[BIOLOGY 202L: Gateway to Biology: Genetics a...,True
275,0746148,"Zhang, Chen",Student,[],[],True
954,0745840,"Yu, Handi",Student,[],[],True
1313,0898135,"Goatley, David Emmanuel",Associate Dean for Vocational Formation and Ch...,[Were You There? Godforsakenness in Slave Reli...,[BCS 760: Theology in the Black Church Tradit...,True
1395,0550579,"Friedmann, Victor",Instructor,[],[],True
2175,0061257,"Skender, Charles",Instructor,[Using a bankruptcy model in the auditing cour...,[ACCOUNTG 596: Accounting for Mergers and Acq...,True
2274,0587377,"Perera, Nadeesha",Instructor B,[],"[BIOLOGY 490S: Special Topics Seminar, K_BIOL...",True
2518,0379166,"Fay, John Patrick",Instructor,[Using geographic information systems to chara...,[ENVIRON 593: Independent Studies and Project...,True
2630,0415082,"Ozdowski, Emily",Instructor,[],[BIOLOGY 329D: Principles of Animal Physiolog...,True
2926,0729819,"Cheikh Abdi Vall, Saadbou",Instructor B,[],"[ARABIC 101: Elementary Arabic, ARABIC 102: ...",True
2971,1088139,"Ye, Huiyuan",Research Fellow at Duke Kunshan University,[],[],True
3242,0297594,"Hornstein, Donald Thomas",Instructor,[],[ENVIRON 265: Environmental Law and Policy],True
3395,0207681,"Schick, Robert",Instructor,[A fine-scale marine mammal movement model for...,[ENVIRON 593: Independent Studies and Projects],True
3410,0525574,"Liu, Yang",Postdoctoral Associate,[],[],True
3740,0785360,"Liu, Lu",Student,[],[],True
3852,0078234,"Harrell, Peter",Instructor,[],[ENVIRON 559: Fundamentals of Geographic Info...,True
4146,0809964,"Zhang, Shu",Instructor,[],"[CHINESE 101: First-Year Chinese I, CHINESE ...",True
4221,0691299,"Xu, Hong",University Librarian at Duke Kunshan University,[],[],True
4518,0901889,"Rivera-Pratts, Carlos",Hospitalist Physician,[],[],True
4791,0114240,"Brown, Ann Julia",Vice Dean for Faculty,[From Stigma to Validation: A Qualitative Asse...,[],True
5341,0301846,"Goldwasser, Molly",Associate Vice Provost for Academic Affairs,[],"[EDUC 240: Educational Psychology, EDUC 243S...",True
5712,0095834,"Johns, Christa T.",Lecturer Emeritus,[],[],True
5972,1125322,"Harshaw, Dumas","Instructor, Special Programs",[],[PREACHNG 790: Topics in Preaching],True
6146,0451950,"Glass, Alexander",Senior Lecturer,[Denying sea-level rise: How 100 centimeters d...,"[BIOLOGY 157: The Dynamic Oceans, ECS 101: T...",True